html, body
   scroll-behavior: smooth !important
   font-family: Mitr, sans-serif !important

button, a
   outline: none !important

.logo-wrapper a
   width: fit-content

#app
   min-height: 100vh
   display: flex
   flex-direction: column
   justify-content: space-between

.page-content
   flex-grow: 1
   position: relative

@media (max-width: 1024px)
   .container
      padding: 0 .75rem